<div class="page">
    <div class="info">
        <h1>About me</h1>
            <p>
                When I was eleven years old, I made a simple Google search of "How to make a game," Ever since then, that's the path I've been following.
                When I was twelve, I found the game engine <strong>Unity</strong> and some Youtubers making online tutorials on how to use the engine. 
                Through this, I learned how to use Unity, Javascript, C#, and, most importantly, learn more stuff without having a Youtuber make a new video. 
                When it was time for me to choose a gymnasium (the Swedish equivalent of high school), I decided on a <strong>game development-orientated school</strong>, where I continued to learn all about programming, Unity, design, 3d-modeling and so much more.
            </p>
        <h2>Professional History</h2>
            <p>
                After graduating from the gymnasium, I got my first job as a <strong>full-stack software developer</strong> at a big casino-game producer, Play'n GO. 
                I have been working here since August 2021, my current position. 
                Here I've gotten more comfortable with <strong>front-end web development</strong>, including Typescript, Angular, and React, and developing <strong>big projects</strong> that usually have to handle enormous amounts of data together with other people.
            </p>
        <h2>Free Time</h2>
            <p>
                Like many developers, I also like to develop smaller <strong>side projects</strong> outside of work. 
                For me, these projects are primarily games made with Unity. It is, after all, one of my <strong>biggest hobbies</strong>. 
                I also want to keep myself updated on the latest regarding Unity and its features. 
                Other than that, I also play a lot of <strong>video games</strong>. 
                Depending on my mood, I prefer competitive FPS games or more casual, sandbox, and automation games. 
                For example, CS:GO, Valorant, Scrap Mechanic, and Minecraft, to only mention a few. 
                I also play chess and poker, and I play the guitar.
            </p>
        <h2>Entrepreneurship</h2>
            <p>
                During my time in the gymnasium, I started two companies. I started my <strong>first company</strong> in 2019 with the help of an organization called <a href="https://ungdrive.se/academy/intyg/?id=UD04327">UngDrive</a>. 
                UngDrive allows teenagers to start companies during summer break. 
                During UngDrive's course, I learned the <strong>basics of running companies</strong>—everything from economics, law, marketing, etc. 
                <br/><br/>
                In 2021 I decided to test my newfound abilities and start another company with a few <strong>local entrepreneurs</strong>. 
                Our business idea was to create a <strong>mobile game</strong> that would also work as a marketing platform. 
                Ultimately, our business idea was less attractive to investors than we had hoped, and we eventually dropped the project.
                <br/><br/>
                Now, I'm involved in another company to continue to broaden my skills and experiences.
                In conclusion, I have some <strong>valuable entrepreneurial learning experiences</strong>, and I strive to continue to try until it leads to <strong>something bigger</strong>!
            </p>
    </div>
</div>