.project{
    margin: 150px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1,h2,h3,h4{
    margin: 0;
}

.project-image{
    height:350px;
    margin-right: 50px;
    border-radius: 15px;
    aspect-ratio: 441/350;
    object-fit: cover;
}