<app-landing-page (focusEvent)="focusOn($event)"></app-landing-page>

<app-about-me id="about"></app-about-me>

<div class="page" id="projects">
  <h1>Projects</h1>
  <div *ngFor="let project of projects">
    <app-project-summary
      [projectName]="project.name"
      [projectSummary]="project.summary"
      [projectPath]="project.path"
      [imagePath]="project.imagePath"
      [skills]="project.skills"
      *ngIf="project.showProject != false"
    >
    </app-project-summary>
  </div>
</div>

<div class="background-texture" [ngStyle]="{ 'height.px': pageHeight }"></div>
