.page{
    width: auto;
    min-height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
}

.background-texture{
    background-image: url("https://i0.hippopx.com/photos/870/79/678/banner-header-graph-paper-squared-paper-preview.jpg");
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.2;
    pointer-events: none;
    z-index: 2;
}

@media (max-width: 680px){
    .page{
        padding-right: 75px;
        padding-left: 75px;
    }
}