$page-color: lightblue;
$margin-horizontal: 250px;
$margin-top: 100px;

.page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background{
    background-color: $page-color;
    display: flex;
    flex: 1;
    justify-content: center;
    padding-right: $margin-horizontal;
    padding-left: $margin-horizontal;
}

.gradient{
    display: flex;
    height:150px;
    background: $page-color;
    background: linear-gradient(180deg, $page-color 0%, white 100%);
    justify-content: center;
    align-items: center;
}

.info-part{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}

h1{
    font-size: 100px;
    margin: 0;
    font-weight: bold;
}

h2{
    font-size: 40px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.down-arrow{
    height: 50px; 
    width: 50px; 
    opacity: 0.7;
}

.down-arrow:hover{
    transform: translateY(10px);
    opacity: 1;
    cursor: pointer;
}

.btn{
    margin-right: 10px;
}

.profile-img{
    position: absolute; 
    right: $margin-horizontal; 
    height: 90%; 
    top: $margin-top;
}

@media (max-width: 680px){
    .btn-row{
        flex-direction: column;
    }

    .btn{
        width: auto;
        margin-bottom: 20px;
    }
    
    .background{
        padding-right: 7vw;
        padding-left: 7vw;
    }
}

@media (max-width:1300px) {

    .background{
        padding-top: 100px;
    }

    h1{
        font-size: 10vw;
    }

    h2{
        font-size: 5vw;
    }

    .info-part{
        align-items: center;
        text-align: center;
    }

    .profile-img{
        width: 0;
    }
}