<div class="page">
    <div class="background">

        
        <div class="info-part">
            <h1>Lucas Fransson</h1>
            <h2>Software & Game Developer</h2>
            <app-skill-row [skills]="primarySkills" label="Skills:"></app-skill-row>
            <div class="btn-row">
                <button class="btn" (click)="focusOn(0)">
                    <p>About Me</p>
                </button>
                <button class="btn" (click)="focusOn(1)">
                    <p>Projects</p>
                </button>
                <button class="btn" (click)="contact()">
                    <p>Email</p>
                </button>
                <button class="btn" (click)="linkedin()">
                    <p>LinkedIn</p>
                </button>
            </div>
        </div>

        <div style="flex: 1;">
            <img class="profile-img" [src]="profileImage" (mouseover)="showProfileColor=true" (mouseout)="showProfileColor=false"/>
        </div>

        
    </div>
    
    <div class="gradient">
        <img (click)="focusOn(0)" class="down-arrow" src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" />
    </div>
</div>