$text-color: #262626;

html, body{
    margin: 0;
}

@font-face {
    font-family: header-font;
    src: url(assets/fonts/handwriting.ttf);
}

@font-face {
    font-family: paragraph-font;
    src: url(assets/fonts/Handwriting_readable.ttf);
}

h2, h3, h4{
    font-family: paragraph-font;
    color: $text-color;
}

h1{
    font-size: 48px;
    font-family: paragraph-font;
    color: $text-color;
}

h2{
    font-size: 39px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 30px;
}

p{
    font-size: 30px;
    font-family: paragraph-font;
    color: $text-color;
}

.btn-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.btn{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px dotted black;
}

.btn:hover{
    border: 3px solid black;
    cursor: pointer;
}

button p{
    font-family: paragraph-font;
    font-size: 170%;
    margin: 0;
}