.skills{
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 580px;
    
}

.skill{
    display: flex;
    min-width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px dotted black;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

h4{
    margin: 0;
}

.skill p{
    font-size: 130%;
}

@media (max-width: 1300px){
    .skills{
        justify-content: center;
    }
}